@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}
body {
  background-color: var(--White);
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container .img {
  width: 100%;
}
.container .img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.recipe-content {
  padding: 30px 20px;
  text-align: center;
}
.recipe-content h2 {
  font-size: 32px;
  color: var(--Stone-900);
  margin-bottom: 15px;
  text-align: left;
}
.recipe-content p {
  font-size: 18px;
  color: var(--Stone-600);
  margin-bottom: 20px;
  text-align: left;
}
.preparation-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: hsla(332, 77%, 59%, 0.1);
  padding: 0 20px;
  border-radius: 10px;
  width: 90%;
}
.preparation-time h3 {
  text-align: left;
  margin-bottom: 15px;
  color: var(--Rose-800);
}
.preparation-time ul {
  padding-left: 20px;
}
.preparation-time ul li {
  text-align: left;
  margin-bottom: 10px;
  color: var(--Stone-600);
  padding-left: 10px;
}
.preparation-time ul li::marker {
  color: var(--Rose-800);
}
.preparation-time ul li span {
  font-weight: 700;
  color: var(--Stone-600);
}
.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.ingredients:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--Stone-150);
  margin-top: 20px;
}
.ingredients h2 {
  text-align: left;
  margin-bottom: 15px;
  color: var(--Brown-800);
}
.ingredients ul {
  padding-left: 20px;
}
.ingredients ul li {
  text-align: left;
  margin-bottom: 10px;
  color: var(--Stone-900);
  padding-left: 10px;
}
.ingredients ul li::marker {
  color: var(--Brown-800);
}
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.instructions:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--Stone-150);
  margin-top: 20px;
}
.instructions h2 {
  text-align: left;
  margin-bottom: 15px;
  color: var(--Brown-800);
}
.instructions ol {
  padding-left: 20px;
}
.instructions ol li {
  text-align: left;
  margin-bottom: 15px;
  color: var(--Stone-600);
  padding-left: 10px;
}
.instructions ol li span {
  font-weight: 700;
  color: var(--Stone-600);
}
.instructions ol li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}
.nutrition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}
.nutrition h2 {
  text-align: left;
  margin-bottom: 15px;
  color: var(--Brown-800);
}
.nutrition p {
  font-size: 18px;
  color: var(--Stone-600);
  margin-bottom: 20px;
  text-align: left;
}
.nutrition table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
.nutrition table thead {
  border-bottom: 2px solid var(--Stone-150);
  margin-bottom: 10px;
}
.nutrition table thead th {
  text-align: center;
  padding-bottom: 10px;
  color: var(--Brown-800);
}
.nutrition table tbody tr {
  border-bottom: 1px solid var(--Stone-150);
}
.nutrition table tbody tr:last-child {
  border-bottom: none;
}
.nutrition table tbody td {
  text-align: center;
  padding: 10px 0;
  color: var(--Brown-800);
  font-weight: 700;
}
.nutrition table .type {
  color: var(--Stone-600);
  font-weight: 500;
}

@media (min-width: 768px) {
  body{
    background-color: var(--Stone-100);
  }
  .container {
    width: 781px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--White);
  }
  .recipe-content {
    width: 100%;
    padding: 20px 0;
  }
  .preparation-time {
    width: 100%;
  }
  .ingredients{
    width: 100%;
  }
  .nutrition table tr td{
    text-align: left;
    padding: 10px 30px;
  }
  .nutrition table tr th{
    text-align: left;
    padding: 10px 30px;
  }
}
